[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/joyent/libuv.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "deps/libj"]
	path = deps/libj
	url = https://github.com/plenluno/libj.git
