[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "deps/libj"]
	path = deps/libj
	url = https://github.com/plenluno/libj.git
[submodule "tools/cpplint"]
	path = tools/cpplint
	url = https://github.com/plenluno/cpplint.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/plenluno/openssl.git
[submodule "deps/b64"]
	path = deps/b64
	url = https://github.com/plenluno/b64.git
